body {
    width: 100%;
    background: url(images/backgroundimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.main {
    width: 70%;
    margin: 0 auto 0;
    padding-top: 150px;
    text-align: center;
    /* background: rgba(249, 1, 1, 0.3); */
}

.main h1 {
    font-size: 80px;
    font-family: 'Piedra', cursive; 
}

.main p {
    color: #FFF3B0;
    /* color: white; */
    font-size: 22px;
    font-family: 'Oleo Script', cursive;
    margin-bottom: 30px;
}

.main a {
    padding: 10px 20px;
}

.maps {
    width: auto;
    margin: 20px auto;
    text-align: center;
}