@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@800;900&family=Oleo+Script:wght@400;700&family=Piedra&display=swap');

/* 
font-family: 'Piedra', cursive; 
font-family: 'Oleo Script', cursive;
font-family: 'Alegreya Sans', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.clickable {
    font-family: 'Alegreya Sans', sans-serif;
    background: #d7aa2e;
    border-radius: 6px;
    border: 3px solid #d7aa2e;
    transition: all 0.3s ease;
}

.clickable:hover {
    background: none;
}

.navbar {
    position: fixed;
    background: rgb(86, 11, 14, 0.6);
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    width: 100%;
    z-index: 999;
    padding: 25px 15px 25px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.navbar.sticky {
    background: rgb(84, 11, 14);
    padding: 10px 15px 10px 45px;
}

.navbar img {
    height: 75px;
}

.navbar.sticky img {
    display: none;
}

.navbar .title {
    font-family: 'Piedra', cursive; 
    font-size: 35px;
    display: none;
}

.navbar.sticky .title {
    display: block;
    color: #f3c43e;
    text-shadow: 2px 2px 2px #000000, -2px -2px 2px #000000;
}

.navbar ul {
    padding-right: 20px;
}

.navbar ul li {
    font-size: 20px;
    text-align: right;
    display: inline-block;
    padding-left: 20px;
}

.navbar ul li a {
    color: #f3c43e;
    transition: all 0.3s ease;
}

.navbar ul li:hover a {
    color: #ffffff;
}

.menu-btn {
    color: #f3c43e;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.maps iframe {
    border: 5px solid black;
}

 footer {
    padding: 15px 0;
    background: rgb(84, 11, 14, 0.75);
 }

 footer p {
     color: #f3c43e;
    font-family: 'Oleo Script', cursive;
    font-size: 18px;
    text-align: center;
 }

 footer a {
     color: #E09F3E;
     transition: all 0.3s ease;
 }

 footer a:hover {
     color: white;
 }

 /* responsive media query start */

 @media (max-width: 1024px) {
    .navbar ul {
        padding-right: 10px;
    }

    .navbar ul li {
        font-size: 18px;
        padding-left: 15px;
    }
 }

 @media (max-width: 768px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn {
        display: block;
        z-index: 999;
    }
/* 
    .menu-btn i.active::before{
        content: "\f00d";
    } */

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        right: -100%;
        top: 0;
        background: #424242;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
 }